html, body, #view-port {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
}
.wrapper {
	text-align: center;
}
.button-center {
	margin: auto;
}
.dx-theme-android .dx-pivottabs {
	height: 44px;
}
.dx-theme-android .dx-pivottabs .dx-pivottabs-tab, .dx-theme-android .dx-pivottabs .dx-pivottabs-ghosttab {
	padding: 0px 10px;
	font-size: 20px;
}
.dx-theme-android .dx-pivot .dx-pivot-itemcontainer {
	top: 44px;
}
.dx-theme-android .dx-list .dx-scrollable-container {
	padding: 0;
}
.dx-theme-android .dx-list .dx-list-item {
	font-size: 14px;
}

.dx-theme-android .dx-loadpanel-content, .dx-loadpanel-content {
	border: none;
	background: none;
	background-color: none;
}
.dx-theme-android .dx-pivottabs .dx-pivottabs-tab.dx-pivottabs-tab-selected, .dx-theme-android .dx-pivottabs .dx-pivottabs-ghosttab.dx-pivottabs-tab-selected {
	box-shadow: inset 0 -2px #336699, inset 0 -8px #09c;
}
/* button widget */
.dx-theme-android .default-button, .dx-theme-android .default-button .dx-state-active, .dx-theme-android .conversations-comment-button, .dx-theme-android .conversations-comment-button .dx-state-active, .dx-theme-android .transparent-button, .dx-theme-android .transparent-button .dx-state-active {
	padding: 0;
	border: none;
	background: none;
	box-shadow: none;
}
.dx-theme-android .transparent-button, .dx-theme-android .transparent-button .dx-state-active {

}
.dx-theme-android .default-button .dx-button-content {
	/*border: 1px solid #bb3405;
	 border-radius: 7px;*/
	padding: 0 10px;
	background-color: #f34401;
	/*background: linear-gradient(to bottom, #f34401, #bb3405);
	 background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f34401),color-stop(100%,#bb3405));*/
	/*box-shadow: 0 1px 5px 0px #f34401, inset 0 0px 2px 0px #bb3405;*/
	color: white;
	font-weight: bold;
	font-size: 18px;
	line-height: 43px;
	height: 52px;
}
.dx-theme-android .default-button .dx-state-active .dx-button-content {
	padding: 0 10px;
	background-color: #f34401;
	/*background: linear-gradient(to bottom, #f34401, #bb3405);
	 background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#bb3405),color-stop(100%,#f34401));*/
	/*box-shadow: 0 1px 5px 0px #f34401, inset 0 0px 2px 0px #bb3405;*/
	border-color: #bb3405;
}
.dx-theme-android .default-button .dx-button-content .dx-button-text {
	font-size: 18px;
	-webkit-text-shadow: 0px -1px 0px #bb3405;
	text-shadow: 0px -1px 0px #bb3405;
}
.dx-theme-android .dx-toolbar .default-button .dx-button-content {
	border: none;
	background: none;
	box-shadow: none;
	color: #323a45;
}
.dx-theme-android .dx-toolbar .default-button .dx-state-active .dx-button-content {
	background: none;
}
.dx-theme-android .default-button .dx-button-content .dx-button-text {
	color: white;
}
.dx-theme-android .transparent-button .dx-button-content .dx-icon {
	width: 24px;
	height: 24px;
}
/*profile*/
.user-photo {
	/*height: 180px;
	 width: 180px;*/
	display: block;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid #d2d3d5;
	/*border-radius:50%;*/
}
.product-thumbnail {
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.product-photo {
	height: 240px;
	width: 240px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid #d2d3d5;
	border-radius: 50%;
}
.logout-block .dx-button {
	width: 100%;
}
.dx-theme-android .type-block .dx-fieldset {
	margin-top: 0;
	padding: 10;
	min-height: 0;
	border-bottom: 0;
}
.dx-theme-android .order-info-fieldset .dx-fieldset, 
.dx-theme-android .order-number-fieldset .dx-fieldset,
.dx-theme-android .order-number-fieldset .dx-fieldset .dx-field, 
.dx-theme-android .order-number-fieldset .dx-fieldset .dx-field .dx-field-value, 
.dx-theme-android .order-number-fieldset .dx-fieldset .dx-field .dx-field-label {
	margin: 0;
	padding: 0;
	min-height: 0;
	border-bottom: 0;
}
/*.dx-theme-android .order-info .dx-fieldset, */
.dx-theme-android .order-info .dx-fieldset .dx-field, 
.dx-theme-android .order-info .dx-fieldset .dx-field .dx-field-value, 
.dx-theme-android .order-info .dx-fieldset .dx-field .dx-field-label {
	padding: 5px 0;
	margin: 0;
	min-height: 0;
	border: 0;
}
/* orders */
.orders-partial-content .dx-scrollview-content > div {
	padding-right: 10px;
}
.conversations-list, .orders-list {
	width: 100%;
	font-size: 16px;
}
.productslist {
	height: 100%;
	padding-bottom: 48px;
	box-sizing: border-box;
	/*height: calc(100% - 48px);*/
}
.products-list {
	border-spacing: 5px;
	border-collapse: separate;
}
.dx-theme-android .dx-list .dx-list-item {
	padding: 5px 0;
}
.products-list tr {
	border-bottom: 1px solid black;
}
.orders-list td {
	text-align: center;
	padding: 5px 1px;
}
.conversations-list td.left, .orders-list td.left {
	text-align: left;
}
.conversations-list td.right, .orders-list td.right {
	text-align: right;
}
.orders-date {
	/*vertical-align: top;*/
	color: blue;
	width: 44px;
}
.orders-price {
	font-weight: bold;
	/*font-size: 14px;*/
	width: 25%;
}
.orders-title div {
	padding-left: 7px;
	border-left: 1px solid #b5b9bc;
	width: auto;
	/*vertical-align: top;*/
}
.orders-state {
	background-position: center left;
	background-repeat: no-repeat;
	width: 44px;
}
.popup .footer {
	position: absolute;
	bottom: 0;
	height: 68px;
	width: 95%;
}
/*.dx-theme-android .dx-textbox {
 background: lightgray;
 }*/
.dx-theme-android .dx-editbox .dx-editbox-input {
	padding: 10px;
}
/*conversation*/
.conversations-name {
	font-style: italic;
	color: blue;
	/*vertical-align: top;*/
	width: 66px;
}
.conversations-message {
	margin: 0px 10px;
	width: auto;
	color: #baffff;
	border-radius: 10px;
	background-color: #336699;
}
.conversations-message-shop {
	margin: 0px 10px;
	width: auto;
	color: black;
	border-radius: 10px;
	background-color: lightgray;
}

.conversations-title {
	padding: 10px;
	width: auto;
	background-color: #336699;
	border-radius: 10px;
}
.conversations-empty {
	width: 10px;
}
.conversations-date {
	text-align: center;
	width: 50px;
	font-size: 10px;
}
.conversations-list td {
	text-align: center;
	padding: 5px 5px;
}
.conversations-list tr {
	padding: 0px 5px;
	margin: 10px;
}
.conversations-list {
	border-spacing: 10px;
	border-collapse: separate;
}
.chatscroll {
	height: 100%;
	padding-bottom: 54px;
	box-sizing: border-box;
}
.conversations-comment {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-right: 44px;
	box-sizing: border-box;
}
.conversations-comment-button {
	position: absolute;
	bottom: 0;
	right: 0;
}
