<div data-options="dxView : { name: 'chatdetails', title: 'Hỏi & đáp', secure: true } " >
	<div data-options="dxContent : { targetPlaceholder: 'content' } " >
		<div data-bind="dxLoadPanel:{message: 'Đang tải...', visible: loadPanelVisible }"></div>
		<div class="chatscroll">
			<div id="chatScroll" class="conversations-content" data-bind="dxScrollView: {pullDownAction: function() {doLoadChatDetailData();}}">
				<div>
					<table class="conversations-list">
						<tbody>
							<!-- ko foreach: dataSource -->
							<tr>
								<!-- ko if:isShop -->
								<td colspan="2" class="left conversations-message" data-bind="text:msg, attr: {'id':name}"></td>
								<td></td>
								<!-- /ko -->
								<!-- ko ifnot:isShop -->
								<td></td>
								<td colspan="2" class="left conversations-message" data-bind="text:msg, attr: {'id':name}"></td>
								<!-- /ko -->
							</tr>
							<tr>
								<!-- ko if:isShop -->
								<td class="left conversations-date" data-bind="text: date"></td>
								<!-- /ko -->
								<!-- ko ifnot:isShop -->
								<td></td>
								<!-- /ko -->
								<td></td>
								<!-- ko ifnot:isShop -->
								<td class="left conversations-date" data-bind="text: date"></td>
								<!-- /ko -->
								<!-- ko if:isShop -->
								<td></td>
								<!-- /ko -->
							</tr>
							<!-- /ko -->
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="conversations-comment" data-bind="dxTextArea:{value:commentToPost}"></div>
		<div class="conversations-comment-button" data-bind="dxButton: { text: 'Trả lời', clickAction: postComment, icon: 'comment' }"></div>
	</div>
</div>
