<div data-options="dxView : { name: 'home', title: 'Đơn hàng', secure: true } " >
	<div data-bind="dxPivot: { dataSource: items }">
		<div data-options="dxTemplate : { name: 'item' } ">
			<div data-bind="dxList: { dataSource: listItems,
			pullRefreshEnabled: true,			
			pullRefreshAction: function() {doLoadDataByOrder(dataName);} }">
				<!-- <div data-bind="dxList: { dataSource: listItems}"> -->
				<div data-options="dxTemplate : { name: 'item' }" data-bind="dxAction: '#order-details/{orderNumber}'">
					<div data-bind="text: date"></div>
					<div data-bind="text: orderNumber"></div>
					<div data-bind="text: totalAmount + 'VND'"></div>
				</div>
			</div>
		</div>
	</div>
	<div data-bind="dxLoadPanel:{message: 'Đang tải...', visible: loadPanelVisible }"></div>
</div>
<!-- pullRefreshAction: function() {doLoadDataByOrder(dataName);} }"> -->