<div data-options="dxView : { name: 'order-details', title: 'Đơn hàng' } " >
	<!-- <div data-bind="dxCommand: { id: 'edit', icon: 'edit', action: showActionSheet }" ></div> -->
	<div data-options="dxContent : { targetPlaceholder: 'content' } " >
		<div data-bind="dxActionSheet: {
		dataSource: dropDownMenuData,
		visible: actionSheetVisible,
		title: 'Xử lý đơn hàng',
		cancelText: 'Bỏ qua'
		}"></div>
		<div data-bind="dxScrollView:{}" style="padding: 10px;">
			<!-- <div data-bind="dxDropDownMenu: { buttonText: 'Change status', dataSource: dropDownMenuData, itemClickAction: processValueChange, disabled: disabled }"></div> -->
			<h2 style="margin: 10px;">Chi tiết đơn hàng</h2>
			<div>
				<!-- ko foreach: products -->
				<table class="products-info" cellspacing="2px;">
					<tbody>
							<tr>
								<td rowspan="5" align=center valign=middle width="80px"><img class="product-thumbnail" data-bind="attr: { src: thumbnail }"><img></td>
							</tr>
							<tr>
								<td style="font-size:larger;" data-bind="text: name"></td>
							</tr>
							<tr>
								<td style="color: white" data-bind="text:'Màu xanh Cỡ L'"></td>
							</tr>
							<tr>
								<td style="color: white" data-bind="text:weight + 'g'"></td>
							</tr>
							<tr>
								<td style="color: #d45e14" data-bind="text:price + 'VND x ' + quantity"></td>
							</tr>
					</tbody>
				</table>
				<!-- /ko -->
				<table class="products-list" style="width:100%;">
					<tbody>
						<tr>
							<td width="auto" class="transparent-button" data-bind="dxButton: {icon: 'payment'}"></td>
							<td width="50%" style="white-space: pre-wrap; word-wrap: break-word; text-align: left; color:green" data-bind="text: paymentMethod"></td>
							<td width="auto" class="transparent-button" data-bind="dxButton: {icon: 'transport'}"></td>
							<td width="50%" style="white-space: pre-wrap; word-wrap: break-word; text-align: left; color:green" data-bind="text: shippingMethod"></td>
						</tr>
					</tbody>
				</table>

			</div>
			<div style="text-align: right;margin: 10px;font-weight: bold;">
				<span>Tổng tiền: </span><span style="color: #d45e14;" data-bind="text:totalAmount() + ' VND'"></span>
			</div>
			<div class="order-info dx-fieldset">
				<div class="dx-field">
					<div class="dx-field-label">
						Trạng thái:
					</div>
					<div class="dx-field-value" data-bind="text:orderStatus" ></div>
				</div>
				<div class="dx-field">
					<div class="dx-field-label">
						Ngày đặt:
					</div>
					<div class="dx-field-value" data-bind="text:orderDateDisplay" ></div>
				</div>
				<div id="delayField" class="dx-field">
					<div class="dx-field-label">
						Ngày hoãn:
					</div>
					<div class="dx-field-value" data-bind="text:delayDateDisplay" ></div>
				</div>
				<div class="dx-field">
					<div class="dx-field-label">
						Người mua:
					</div>
					<div class="dx-field-value" data-bind="text:buyerName"></div>
				</div>
				<div class="dx-field">
					<div class="dx-field-label">
						Địa chỉ:
					</div>
					<div class="dx-field-value" data-bind="text:buyerAddress" ></div>
				</div>
				<div class="dx-field">
					<div class="dx-field-label">
						Điện thoại:
					</div>
					<div class="dx-field-value">
						<a style="font-weight:bold;" data-bind="attr: {href:'tel:'+buyerPhone()}, text:buyerPhone"></a>
					</div>
				</div>
			</div>
			<table style="background: #333333;width: 100%;color: white;">
				<tbody>
					<tr>
						<td><div style="padding: 10px; background-image: url('images/qa-icon.png'); background-repeat: no-repeat; background-position: right top;" data-bind="text:note" ></div></td>
					</tr>
				</tbody>
			</table>
			<div style="text-align: center;">
				<div class="default-button" style="margin: 20px;" data-bind="dxButton: {text:'Xử lý đơn hàng', clickAction: function() {showActionSheet();}}">

				</div>
			</div>
		</div>
		<div data-bind="dxLoadPanel:{message: 'Đang xử lý...', visible: loadPanelVisible }"></div>
		<div class="popup" data-bind="dxPopup:{visible:popupDelayVisible, fullScreen:false, title:'Delay'}">
			<div data-options="dxTemplate:{name: 'content'}">
				<div class="dx-fieldset">
					<div class="dx-field">
						<div class="dx-field-label">
							Ngày hoãn
						</div>
						<div class="dx-field-value" data-bind="
						dxDateBox: { value: dateBoxValue, format: 'date' }"></div>
					</div>
				</div>
				<div class="footer">
					<div class="button" data-bind="dxButton: { text: 'Hoãn', clickAction: function() {doDelayOrderByOrderID();}, icon:'clock' }"></div>
					<div class="button" data-bind="dxButton: { text: 'Huỷ hoãn', clickAction: hideDelayPopUp, icon: 'close' }"></div>
				</div>
			</div>
		</div>
		<div class="popup" data-bind="dxPopup:{visible:popupSplitVisible, fullScreen:true, title:'Split'}">
			<div data-options="dxTemplate:{name: 'content'}">
				<h2>Sản phẩm để tách</h2>
				<div id="splitList" style="margin: 10px;height=75%;height=calc(100%-68px);" data-bind="dxList: {dataSource: productsToSplit,
				editEnabled: true,
				editConfig: {
				deleteEnabled: true,
				deleteMode: 'toggle'
				}
				}">
					<div class="listItem" data-options="dxTemplate:{ name:'item' }">
						<div class="lazyload" style="display:inline-block; margin: 5px;">
							<img width="50" height="50"  style="margin:5px;" data-bind="attr: { src: thumbnail }" />
						</div>
						<div style="display:inline-block; margin: 5px;">
							<p>
								<i data-bind="text: name" style="white-space: pre-wrap; word-wrap: break-word; text-align: left;"></i>
							</p>
							<p>
								<i data-bind="text: stockAvailability"></i>
							</p>
						</div>
					</div>
				</div>
				<div class="footer">
					<!-- <div style="float:right;" data-bind="dxButton: { text: 'Continue', clickAction: popup.hide }"></div> -->
					<div class="button"  data-bind="dxButton: { text: 'Tách', clickAction: function() { doSplitOrderByOrderID(); }, icon:'plus' }"></div>
					<div class="button"  data-bind="dxButton: { text: 'Huỷ tách', clickAction: hideSplitPopUp, icon:'close' }"></div>
				</div>
			</div>
		</div>
	</div>
</div>
