<div data-options="dxView : { name: 'product-details', title: 'Sản Phẩm' } " >
	<div data-bind="dxCommand: { id: 'edit', icon: 'edit', action: edit }" ></div>
	<div data-options="dxContent : { targetPlaceholder: 'content' } " >
		<div data-bind="dxLoadPanel:{message: 'Đang tải...', visible: loadPanelVisible }"></div>
		<div data-bind="dxPopup:{visible:popupEditVisible, fullScreen:false, title:'Edit'}">
			<div data-options="dxTemplate:{name: 'content'}">
				<div class="dx-fieldset">
					<div class="dx-field">
						<div class="dx-field-label">
							Tên:
						</div>
						<div class="dx-field-value" data-bind="dxTextBox: { value: editName, placeholder: name}"></div>
					</div>
					<div class="dx-field">
						<div class="dx-field-label">
							Giá:
						</div>
						<div class="dx-field-value" data-bind="dxTextBox: { value: editPrice, placeholder: price}"></div>
					</div>
					<div class="dx-field">
						<div class="dx-field-label">
							Khối lượng:
						</div>
						<div class="dx-field-value" data-bind="dxTextBox: { value: editWeight, placeholder: weight}"></div>
					</div>
				</div>
				<div class="button" data-bind="dxButton: { text: 'Sửa', clickAction: changeProductProperties, icon:'edit' }"></div>
				<div class="button" data-bind="dxButton: { text: 'Huỷ', clickAction: hideEditPopup, icon:'close' }"></div>
			</div>
		</div>
		<div data-bind="dxScrollView:{}">
			<div class="lazyload">
				<img class="product-photo" data-bind="attr: { src: thumnail }" />
			</div>
			<div>
				<div class="dx-fieldset">
					<div class="dx-field">
						<div class="dx-field-label">
							Tên:
						</div>
						<div class="dx-field-value" data-bind="text:name" ></div>
					</div>
					<div class="dx-field">
						<div class="dx-field-label">
							Tình trạng:
						</div>
						<div class="dx-field-value" data-bind="dxCheckBox:{checked:stockAvailability, clickAction: changeStockStatus}" ></div>
					</div>
					<div class="dx-field">
						<div class="dx-field-label">
							Up sản phẩm:
						</div>
						<div class="dx-field-value" data-bind="dxButton: { text: upProductDate, clickAction: upProduct, icon: 'arrowup' }" ></div>
					</div>
					<div class="dx-field">
						<div class="dx-field-label">
							Giá:
						</div>
						<div class="dx-field-value" data-bind="text:price" ></div>
					</div>
					<div class="dx-field">
						<div class="dx-field-label">
							Khối lượng:
						</div>
						<div class="dx-field-value" data-bind="text:weight" ></div>
					</div>
					<div class="dx-field">
						<div class="dx-field-label">
							Số lượng:
						</div>
						<div class="dx-field-value" data-bind="text:quantity" ></div>
					</div>
					<div class="dx-field">
						<div class="dx-field-label">
							Số SKU:
						</div>
						<div class="dx-field-value" data-bind="text:storeSku" ></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
