<div data-options="dxView : { name: 'products', title: 'Sản Phẩm', secure: true } " >
	<div data-bind="dxCommand: { id: 'sort', icon: 'arrowdown', action: showSortOptions }" ></div>
	<div data-options="dxContent : { targetPlaceholder: 'content' } " >
		<div data-bind="dxActionSheet: {
		dataSource: dropDownMenuData,
		visible: actionSheetVisible,
		title: 'Sắp xếp sản phẩm theo',
		cancelText: 'Bỏ qua'
		}"></div>
		<div id="searchBox"
		data-bind="dxTextBox: {
		mode: 'search',
		value: searchString,
		placeholder: 'Tìm sản phẩm theo tên',
		valueUpdateEvent: 'search change keyup',
		height:'44px' }"></div>

		<!-- <div class="dx-fieldset">
		<div class="dx-field">
		<div class="dx-field-label">
		Sắp xếp:
		</div>
		<div class="dx-field-value"
		data-bind="dxSelectBox: {
		dataSource: sortTypes,
		displayExpr: 'name',
		valueExpr: 'type',
		value: selectedType,
		valueChangeAction: processSortTypeChange,
		placeholder: 'Ngày tạo'}"></div>
		</div>
		</div> -->
		<!-- <div style="height:100%;padding-bottom: 56px;height: calc(100% -56px);"> -->
		<div class="productslist">
			<div id="productsList" data-bind="dxList: { dataSource: listDataSource,
			pullRefreshEnabled: true,
			pullRefreshAction: function() { doLoadProducts(); } }">
				<div data-options="dxTemplate : { name: 'item' }">
					<table class="products-list" style="background-color: white;width:100%">
						<tbody>
							<tr>
								<td width="auto"><img width="75" height="75" data-bind="attr: { src: thumbnail }" /></td>
								<td width="100%" rowspan="2"><p style="white-space: pre-wrap; word-wrap: break-word; text-align: left;" data-bind="text: name"></p>
								<p>
									<span style="font-weight: bold;">Giá: </span>
									<span style="color: red;" data-bind="text: price + ' VND'"></span>
								</p></td>
							</tr>
							<tr>
								<td width="auto" style="text-align: right;"
								data-bind="dxSwitch:{
								value:stockAvailability,
								valueChangeAction: function(e) {
								changeStockStatus(e,$data);
								}
								}"></td>
							</tr>
						</tbody>
					</table>
					<table class="products-list" style="background-color: white;width:100%">
						<tbody>
							<tr>
								<td style="width:50%;white-space: pre-wrap; word-wrap: break-word; text-align: left;" data-bind="text: 'Up gần nhất:\n' + upProductDateDisplay"></td>
								<td style="width:100%;" data-bind="dxButton: {text:'Up ngay', clickAction: function() {upProduct(id);}}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div data-bind="dxLoadPanel:{message: 'Đang tải...', visible: loadPanelVisible }"></div>
	</div>
</div>
