<div data-options="dxView : { name: 'user', title: 'Đăng nhập' } " >
	<div  data-options="dxContent : { targetPlaceholder: 'content' } " >
		<div data-bind="dxLoadPanel:{message: '', visible: loadPanelVisible }"></div>
		<img class="user-photo" src="images/logo.jpg" />
		<!-- ko if:isLoggedOut -->
		<div class="dx-fieldset">
			<div class="dx-field">
				<div id="nameBox" data-bind="
				dxTextBox: { placeholder: 'Tên người dùng', value:username }"></div>
			</div>
			<div class="dx-field">
				<div id="passBox" data-bind="
				dxTextBox: { mode: passMode, placeholder: 'Mật khẩu', value:pass }"></div>
			</div>
		</div>
		<div style="text-align: center;" >
			<div class="default-button" data-bind="dxButton: { text: 'Đăng nhập', clickAction: dologin, icon: 'key' }"></div>
		</div>
		<!-- /ko -->
		<!-- ko ifnot:isLoggedOut -->
		<div class="dx-fieldset">
			<div class="dx-field">
				<div data-bind="{ text:username }"></div>
			</div>
		</div>
		<div style="text-align: center;" >
			<div class="default-button" data-bind="dxButton: { text: 'Đăng xuất', clickAction: dologout, icon: 'key' }"></div>
		</div>
		<!-- /ko -->
	</div>
</div>